@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;

}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    background-color: white;
    flex-grow: 1;
}

.wrap {
    flex-wrap: wrap;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

/* ----------------------------- */


.error {
    padding: 100px 0;
    background-color: #FAFAFA;
    text-align: center;
}

.error__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.error__logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.error__name {
    font-size: 64px;
    font-weight: 600;
}
.error__img {
    width: 200px;
    height: 200px;
}

.error__info {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.error__title-404 {
    color: rgba(0, 0, 0, 0.10);
    font-size: 244px;
    font-weight: 600;
    line-height: normal;
}
.error__title {
    font-size: 48px;
    font-weight: 600;
}
.error__description {
    font-size: 36px;
    font-weight: 200;
}

.error__return-btn {
    display: flex;
    justify-content: center;
    align-items: center;


    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

    
}

.error__return {
    padding: 15px 25px;
    border-radius: 15px;
    background: #1681A3;
}



/* ----------------------------- */

a:hover {
    opacity: 0.8;
}

.portfolio,
.courses {
    padding: 100px 0;
}

.portfolio__text,
.courses__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.portfolio__title,
.courses__title {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.portfolio__description,
.courses__description {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.portfolio__filter-items,
.courses__filter-items {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
}

.portfolio__filter-item,
.courses__filter-item {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    padding: 8px 24px;
    border-radius: 30px;
    background: #E6E6E6;
}

.portfolio__filter-item.filter-item__active,
.courses__filter-item.filter-item__active {
    background: #404040;
    color: #FFF;
    font-weight: 700;
}

.portfolio__works-items {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio__works-item,
.courses__works-item {
    /* background-image: url(../../images/portfolio/bg.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 133.333px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    z-index: 1;

    position: relative;
}


.portfolio__works-item a::before,
.courses__works-item a::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 200px;
    height: 133.333px;
    z-index: -1;

    background-image: url(../../images/portfolio/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.courses__content {
    min-height: 50vh;
}

.courses__catalog-items {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 70px;
}


.courses__catalog-item {
    max-width: 300px;
    min-height: 400px;
}

.courses__catalog-item:hover {
    border: 1px solid rgb(236, 236, 236);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
}

.courses__catalog-item a{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.courses__images {
    position: relative;
    margin-bottom: 35px;
}



.courses__images-html,
.courses__images-css,
.courses__images-js {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px 24px;
    background-color: #1681A3;
    border-radius: 30px;
    font-size: 14px;
    color: white;
}

.courses__images img {
    display: block;
    width: 100%;
}


.courses__subtitle {
    font-size: 36px;
}

.courses__subdescription {
    font-size: 16px;
}